<footer class="footer">
  <small>
    The <a href="https://www.railstutorial.org/"><%= t :ruby_on_rails_tut %></a>
    <%= t :by %> <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:about), "#", locale:"en" %></li>
      <li><%= link_to t(:contact), "#", locale:"en" %></li>
      <li><a href="http://news.railstutorial.org/"><%= t :news %></a></li>
    </ul>
  </nav>
</footer>
