<footer class="footer">
  <small>
    <%= t :the %> <%= t :tutorial_link_html %><%= t :ruby_on_rails_tut %></a>
    <%= t :by %> <%= t :michaelhart_link_html %>Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:about), about_path %></li>
      <li><%= link_to t(:contact), contact_path %></li>
      <li><%= t :tutorial_new_html %><%= t :news %></a></li>
    </ul>
  </nav>
</footer>
